---
---

@import "{{ site.theme }}";

article.post.h-entry .post-title { overflow-wrap: break-word; }
ul.post-list .post-link          { overflow-wrap: break-word; }

blockquote       { letter-spacing: initial; font-size: 0.9em; }
blockquote code  { font-style: normal; }
